<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{./css/estilos.css}">
    <title>Formulario Loggin</title>
</head>
<body>
    <header>
        <img th:src="@{./img/BIODAM.png}" alt='BIODAM'/>
        <div>
            <li>
                <a th:href="@{/formularioRegistro}">Registrarte</a>
            </li>
            <li>
                <a>Inicia sesión</a>
            </li>
        </div>
    </header>

    <aside class="izq">
        <img th:src="@{./img/aside1.jpg}" alt='aside1'/>
    </aside>

    <aside class="der">
        <img th:src="@{./img/aside2.jpg}" alt='aside2'/>
    </aside>

    <div class="form1">
        <H1>FORMULARIO:</H1>
        <form th:action="@{/UsuarioControlador}" th:object="${UsuarioForm}" method="post">
            <label for="nombre">Nombre:</label><br>
            <input type="text" id="nombre" th:field="*{nombre}" name="nombre"><br>
            <label for="apellidos">Apellidos:</label><br>
            <input type="text" id="apellidos" th:field="*{apellidos}" name="apellidos"><br>
            <label for="email">Email:</label><br>
            <input type="email" id="email" th:field="*{email}" name="email"><br>
            <label for="pass">Contraseña:</label><br>
            <input type="password" id="pass" th:field="*{password}" name="pass">
            <br>
            <input type="submit" value="Acceder">
        </form>
    </div>
</body>
</html>