<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{./css/estilos.css}">
    <title>Index</title>
</head>
<body>
    <header>
        <img th:src="@{./img/BIODAM.png}" alt='BIODAM'/>
        <div>
            <li>
                <a th:href="@{formulario}">Registrarte</a>
            </li>
            <li>
                <a>Inicia sesión</a>
            </li>
        </div>
    </header>

    <aside class="izq">
        <img th:src="@{./img/aside1.jpg}" alt='aside1'/>
    </aside>

    <aside class="der">
        <img th:src="@{./img/aside2.jpg}" alt='aside2'/>
    </aside>

    <div>
        <h1>Estamos en el index</h1>
    </div>
</body>
</html>